/* BLOCKS */ 

  .block, .block_colored, .block_black {
    padding: 1rem 3rem;
    margin-bottom: 1rem;
  }

  .block > h1, .block_colored > h1, .block_black > h1 {
    text-align: center;
  }

  .block {
    /*background-color: #fff;*/
  }

  .block_h1 { margin-top: 3em; }
  .block_h2 { margin-top: 2em; }
  .block_h3 { margin-top: 1em; }

  .block_colored {
    background-color: var(--main-color);
  }

  .block_black {
    background-color: var(--black-color);
  }

  .block_colored.block_h2 {
    color: #fff;
  }

  .block_black > h1, .block_black > h2, .block_black > h3 {
    color: #fff;
  }


  
  .block_color {
    background-color: var(--main-color);
    color: #fff;
  }

