/* BUTTONS */

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
    width: 100%;
  }
  
  .btn-primary-inverse {
    background-color: #fff;
    color: var(--main-color);
    border: none;
  }
  
  .btn-primary-inverse:hover {
    background-color: var(--main-color-hover);
    border: none;
  }